[SYSTEM]
NAME=8-AXIS TESTBED
SIMULATION_MODE=0
EXTERNAL_INTERFACE_ENABLED=1
EXTERNAL_INTERFACE_PORT=7420

;==========================================================================
; Real-time Tasks
; TASK_PERIOD : period in nanoseconds
; START_DELAY : delay execution of tasks in nanoseconds
; PRIORITY : 0 (lowest) - 99 (highest)
;==========================================================================
[RT_TASKS]
NO_OF_TASKS=4

[TASK0]
ENABLED=1
NAME=EtherCAT and Main Control Task
PRIORITY=99
TASK_PERIOD=1000000
START_DELAY=0

[TASK1]
ENABLED=1
NAME=Keyboard Input Task
PRIORITY=50
TASK_PERIOD=0
START_DELAY=0

[TASK2]
ENABLED=0
NAME=Terminal Printer
PRIORITY=49
TASK_PERIOD=1000000000
START_DELAY=0

[TASK3]
ENABLED=0
NAME=PI Controller Task
PRIORITY=89
TASK_PERIOD=10000000
START_DELAY=0

;==========================================================================
; DC_ENABLED : Number of Slaves
; DC_ENABLED : Enable distributed clock
; CYCLE_TIME : EtherCAT cycle time in nanoseconds (todo: depend on the main control task period)
;==========================================================================
[ECAT_MASTER]
SLAVENUMBER=8
DC_ENABLED=1
CYCLE_TIME=1000000

[AXIS0]
ENABLED=1
CONNECTED=1
NAME=AXIS 0

; Specify position in the daisy chain
PHYSICAL_POS=0

; Slave Vendor ID and Product Code (in Hex)
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000

; Incremental Encoder = 0
; Absolute Encoder    = 1
ABSOLUTE_ENCODER=0

; ClockWise (CW) = 0
; CounterClockWise (CCW) = 1
MOVE_CCW=1

; Revolute = 0,
; Continuous = 1,
; Prismatic = 2,
; Planar = 3,
; Fixed = 16,
; Floating = 17,
; Jointless = 18,
JOINT_TYPE=0

; PROIFLE POSITION : 1
; PROIFLE VELOCITY : 3
; PROIFLE TORQUE   : 4
; HOMING   : 6
; INTERPOLATED POSITION   : 7
; CYCLIC POSITION : 8
; CYCLIC VELOCITY : 9
; CYCLIC TORQUE   : 10
DRIVE_MODE=1

ENCODER_RESOLUTION=4096
GEAR_RATIO=30

;This should be configured for joint types other than revolute. For revolute joints, ONE_TURN_REF is equal to 2 * pi (π).
;Ex) Screw-type prismatic joint, one turn is equal to the lead of the screw, thus adOneTurnRef should be equal to the lead (pitch * number of starts) of the screw.
ONE_TURN_REF=1.0

; homing method
; Set Starting Position as Home : 1
; Search for Home Position with a certain reference : 2
; Set Home Position Manually : 3
; Use Built-in Homing Methods of the Motor Driver : 4
HOMING_METHOD = 1

; Home Position when HOMING_METHOD = 2
HOME_POSITION_OFFSET=0

; Home Position Reference HOMING_METHOD = 1
HOME_SEARCH_REFERENCE=1.0

; RPM
OPERATING_VELOCITY=500
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000

; pre-determined home position 
; degree
POSITION_LIMIT_U=360.0
POSITION_LIMIT_L=-360.0

; RPM
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS1]
ENABLED=1
CONNECTED=1
NAME=AXIS 1
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x61500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=16
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=100
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=360.0
POSITION_LIMIT_L=-360.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS2]
ENABLED=1
CONNECTED=1
NAME=AXIS 2
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=100
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=360.0
POSITION_LIMIT_L=-360.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS3]
ENABLED=1
CONNECTED=1
NAME=AXIS 3
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=2048
GEAR_RATIO=100
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=100
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=360.0
POSITION_LIMIT_L=-360.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS4]
ENABLED=1
CONNECTED=1
NAME=AXIS 4
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9280
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=10800.0
POSITION_LIMIT_L=-10800.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS5]
ENABLED=1
CONNECTED=1
NAME=AXIS 5
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9280
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=10800.0
POSITION_LIMIT_L=-10800.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS6]
ENABLED=1
CONNECTED=1
NAME=AXIS 6
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9280
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=10800.0
POSITION_LIMIT_L=-10800.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0

[AXIS7]
ENABLED=1
CONNECTED=1
NAME=AXIS 7
PHYSICAL_POS=1
VENDOR_ID = 0x000000fb
PRODUCT_CODE = 0x60500000
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=4096
GEAR_RATIO=1
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9280
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=10800.0
POSITION_LIMIT_L=-10800.0
VELOCITY_LIMIT_U=12000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=2110;
TORQUE_LIMIT_L=0;
JERK_LIMIT_U=0
JERK_LIMIT_L=0
