[SYSTEM]
NAME=INDY7
SIMULATION_MODE=0
EXTERNAL_INTERFACE_ENABLED=1
EXTERNAL_INTERFACE_PORT=7420
TELEOPERATION_MODE=2
TELEOPERATION_CONSTANT_SCALING=0.3
URDF_PATH=/home/raimlab/indy-ros2/src/indy-ros2/indy_description/urdf_files/indy7.urdf
ENABLE_CONTROLLER_AT_STARTUP=1
DEFAULT_CONTROLLER_MODE=0
ROBOT_DOF=6
KP_0=800.0
KD_0=80.0
KP_1=600.0
KD_1=60.0
KP_2=400.0
KD_2=40.0
KP_3=200.0
KD_3=20.0
KP_4=150.0
KD_4=15.0
KP_5=100.0
KD_5=10.0

;==========================================================================
; Real-time Tasks
; TASK_PERIOD : period in nanoseconds
; START_DELAY : delay execution of tasks in nanoseconds
; PRIORITY : 0 (lowest) - 99 (highest)
;==========================================================================
[RT_TASKS]
NO_OF_TASKS=5

[TASK0]
ENABLED=1
NAME=Main Control Task
PRIORITY=97
TASK_PERIOD=1000000
START_DELAY=0

[TASK1]
ENABLED=1
NAME=EtherCAT Control Task
PRIORITY=95
TASK_PERIOD=1000000
START_DELAY=0

[TASK2]
ENABLED=1
NAME=Keyboard Input Task
PRIORITY=50
TASK_PERIOD=0
START_DELAY=0

[TASK3]
ENABLED=1
NAME=Terminal Printer
PRIORITY=49
TASK_PERIOD=1000000000
START_DELAY=0

[TASK4]
ENABLED=0
NAME=PI Controller Task
PRIORITY=89
TASK_PERIOD=10000000
START_DELAY=0

;==========================================================================
; DC_ENABLED : Number of Slaves
; DC_ENABLED : Enable distributed clock
; CYCLE_TIME : EtherCAT cycle time in nanoseconds (todo: depend on the main control task period)
;==========================================================================
[ECAT_MASTER]
SLAVENUMBER=7
DC_ENABLED=1
CYCLE_TIME=1000000

[AXIS0]
ENABLED=1
CONNECTED=1
NAME=AXIS 0
PHYSICAL_POS=0
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x30000000
SLAVE_TYPE=0
AUTO_SERVO_ON= 0
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=0
DRIVE_MODE=10
ENCODER_RESOLUTION=65536
GEAR_RATIO=121
TRANSMISSION_RATIO=1.0
TORQUE_CONSTANT=0.0884
CURRENT_RATIO=48.0
ONE_TURN_REF=360.0
HOMING_METHOD=3
HOME_POSITION_OFFSET=50080
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=130
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=150
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=117.73
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=46888

[AXIS1]
ENABLED=1
CONNECTED=1
NAME=AXIS 1
PHYSICAL_POS=0
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x30000000
SLAVE_TYPE=0
AUTO_SERVO_ON=1
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=0
DRIVE_MODE=10
ENCODER_RESOLUTION=65536
GEAR_RATIO=121
TRANSMISSION_RATIO=1.
TORQUE_CONSTANT=0.0884
CURRENT_RATIO=48.0
ONE_TURN_REF=360.0
HOMING_METHOD=3
HOME_POSITION_OFFSET=5699
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=130
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=150
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=117.73
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=29197

[AXIS2]
ENABLED=1
CONNECTED=1
NAME=AXIS 2
PHYSICAL_POS=0
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x30000000
SLAVE_TYPE=0
AUTO_SERVO_ON=1
ABSOLUTE_ENCODER=0  
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=10
ENCODER_RESOLUTION=65536
GEAR_RATIO=121
TRANSMISSION_RATIO=1.0
TORQUE_CONSTANT=0.087
CURRENT_RATIO=96.0
ONE_TURN_REF=360.0
HOMING_METHOD=3
HOME_POSITION_OFFSET=41470
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=125
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=150
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=47.5
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=63103

[AXIS3]
ENABLED=1
CONNECTED=1
NAME=AXIS 3
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x30000000
SLAVE_TYPE=0
AUTO_SERVO_ON=1
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=0
DRIVE_MODE=10
ENCODER_RESOLUTION=65536
GEAR_RATIO=101
TRANSMISSION_RATIO=1.0
TORQUE_CONSTANT=0.058
CURRENT_RATIO=96.0
ONE_TURN_REF=360.0
HOMING_METHOD=3
HOME_POSITION_OFFSET=-21035
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=155
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=178
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=21.0
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-29781

[AXIS4]
ENABLED=1
CONNECTED=1
NAME=AXIS 4
PHYSICAL_POS=0
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x30000000
SLAVE_TYPE=0
AUTO_SERVO_ON=1
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=0
DRIVE_MODE=10
ENCODER_RESOLUTION=65536
GEAR_RATIO=101
TRANSMISSION_RATIO=1.0
TORQUE_CONSTANT=0.058
CURRENT_RATIO=96.0
ONE_TURN_REF=360.0
HOMING_METHOD=1
HOME_POSITION_OFFSET=-6619836
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=155
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=178
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=21.0
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=26943

[AXIS5]
ENABLED=1
CONNECTED=1
NAME=AXIS 5
PHYSICAL_POS=0
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x30000000
SLAVE_TYPE=0
AUTO_SERVO_ON=1
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=10
ENCODER_RESOLUTION=65536
GEAR_RATIO=101
TRANSMISSION_RATIO=1.0
TORQUE_CONSTANT=0.058
CURRENT_RATIO=96.0
ONE_TURN_REF=360.0
HOMING_METHOD=1
HOME_POSITION_OFFSET=-1021383
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=155
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=35.0
POSITION_LIMIT_L=-35.0
VELOCITY_LIMIT_U=178
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=21.0
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-2457587

[AXIS6]                         ; 물리적 Slave #6 (엔드이펙터)      
ENABLED=1
CONNECTED=1
NAME=EOAT
PHYSICAL_POS=6
VENDOR_ID = 0x0000089a
PRODUCT_CODE = 0x10000007
SLAVE_TYPE=1
