[SYSTEM]
NAME=ELMO TEST
SIMULATION_MODE=0
EXTERNAL_INTERFACE_ENABLED=1
EXTERNAL_INTERFACE_PORT=7420
TELEOPERATION_MODE=0
TELEOPERATION_CONSTANT_SCALING=0.3

;==========================================================================
; Real-time Tasks
; TASK_PERIOD : period in nanoseconds
; START_DELAY : delay execution of tasks in nanoseconds
; PRIORITY : 0 (lowest) - 99 (highest)
;==========================================================================
[RT_TASKS]
NO_OF_TASKS=5

[TASK0]
ENABLED=1
NAME=Main Control Task
PRIORITY=97
TASK_PERIOD=1000000
START_DELAY=0

[TASK1]
ENABLED=1
NAME=EtherCAT Control Task
PRIORITY=95
TASK_PERIOD=1000000
START_DELAY=0

[TASK2]
ENABLED=1
NAME=Keyboard Input Task
PRIORITY=50
TASK_PERIOD=0
START_DELAY=0

[TASK3]
ENABLED=1
NAME=Terminal Printer
PRIORITY=49
TASK_PERIOD=1000000000
START_DELAY=0

[TASK4]
ENABLED=0
NAME=PI Controller Task
PRIORITY=89
TASK_PERIOD=10000000
START_DELAY=0

;==========================================================================
; DC_ENABLED : Number of Slaves
; DC_ENABLED : Enable distributed clock
; CYCLE_TIME : EtherCAT cycle time in nanoseconds (todo: depend on the main control task period)
;==========================================================================
[ECAT_MASTER]
SLAVENUMBER=3
DC_ENABLED=0
CYCLE_TIME=1000000

[AXIS1]
ENABLED=1
CONNECTED=1
NAME=AXIS 0
PHYSICAL_POS=1
VENDOR_ID = 0x0000009a
PRODUCT_CODE = 0x00100002
ABSOLUTE_ENCODER=0
MOVE_CCW=1
JOINT_TYPE=0
DRIVE_MODE=1
ENCODER_RESOLUTION=8192
GEAR_RATIO=1
TRANSMISSION_RATIO=1.0
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=9000
OPERATING_ACCELERATION=10000
OPERATING_DECELERATION=10000
POSITION_LIMIT_U=90.0
POSITION_LIMIT_L=-90.0
VELOCITY_LIMIT_U=9000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=10000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=10000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=5000
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=-6

[AXIS3]
ENABLED=1
CONNECTED=1
NAME=AXIS 1
PHYSICAL_POS=3
VENDOR_ID = 0x0000009a
PRODUCT_CODE = 0x00100002
ABSOLUTE_ENCODER=0
MOVE_CCW=0
JOINT_TYPE=2
DRIVE_MODE=1
ENCODER_RESOLUTION=8192
GEAR_RATIO=1
TRANSMISSION_RATIO=1.0
ONE_TURN_REF=2.0
HOMING_METHOD = 1
HOME_POSITION_OFFSET=0
HOME_SEARCH_REFERENCE=1.0
OPERATING_VELOCITY=7000
OPERATING_ACCELERATION=100000
OPERATING_DECELERATION=100000
POSITION_LIMIT_U=90.0
POSITION_LIMIT_L=-90.0
VELOCITY_LIMIT_U=7000
VELOCITY_LIMIT_L=0
ACCELERATION_LIMIT_U=100000
ACCELERATION_LIMIT_L=0
DECELERATION_LIMIT_U=100000
DECELERATION_LIMIT_L=0
TORQUE_LIMIT_U=5000
TORQUE_LIMIT_L=0
JERK_LIMIT_U=0
JERK_LIMIT_L=0
POS_BEFORE_EXIT=33



